*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

:root {
  --body_background: #101010;
  --body_color: #fff;
  --heading_color: #ffe400;
}

[data-theme="light"]{
   --body_background: #fff;
  --body_color: #000;
  --heading_color: #000;
}
body{
  background-color: var(--body_background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--body_color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.align-center{
  display: flex;
  align-items: center;
}